@model string

@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="site.css">
}

<style>

    .header {
        text-align: center;
        font-size: 56px;
        line-height: 80px;
        margin-top: 24px;
        margin-bottom: 24px;
        padding: 20px 60px;
        font-family: Arial Black, sans-serif;
    }

    .multicolortext {
        background-image: linear-gradient(to left, navy, indigo, deepskyblue, blue, darkslateblue, dodgerblue, blueviolet);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .refreshbtn {
        height: 50px;
        padding:10px;
    }

    body {
        background: #111;
    }

    .hidden {
        opacity: 0;
    }

    .console-container {
        font-family: Khula;
        font-size: 2em;
        text-align: center;
        height: 200px;
        width: 400px;
        display: block;
        position: relative;
        color: white;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .console-underscore {
        display: inline-block;
        position: relative;
        top: 10px;
        left: 10px;
    }

    .humor {
        padding-block: 20px;
        margin-top: 50px;
    }

    body {
        background: url("images/cloud-blue-sky.jpg") no-repeat center center fixed;
        background-color: white;
    }

    .collapsible {
        padding-top: 5px;
        background-color: navy;
        color: white;
        cursor: copy;
        text-align: center;
        outline: ridge;
        width: 100%;
    }

        .active, .collapsible:hover {
            background-color: #ccc;
        }

    .myAdvice {
        padding: 50px;
    }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
    }


    .vidtable {
        border-spacing: 60px;
        margin-top: 50px;
    }

</style>

<body>

    <div class="header">
        <h1 class="multicolortext">Today will be another great day of solving probelms, learning new technologies, coding. AND <strong>not stressing</strong> over any of it.</h1>
    </div>


    <div class="text-left">
        <h4 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">@Model</h4>

        <div class="refreshbtn">
            <a class="btn-hover color-8" asp-area="" asp-controller="Home" asp-action="Index">Get New Quote</a>
        </div>
    </div>
    <br>
    <br>

    <button type="button" class="collapsible">Greetings! Click here on your first visit :)</button>
    <div class="content">
        <div class="myAdvice">
            <h3 class="spacing" style="color:navy">Hello new TrueCoder!</h3>

            <h5 class="spacing">
                <strong>You did it! </strong>You made the decision to enroll in a bootcamp program and you may have stepped out of your comfort zone. Whether it is not having background in coding, or not having prior college or bootcamp experience, or both and more - it is going to be a great and enlightening experience. It will be everything you read or heard about it, and none of it. The decision is made, and the best you can do is to put all concerns, fears and negative opinions in a box, lock it and loose the key to it. This one is staying behind.
                <br><br>
                What you may certainly expect is that you will learn lots and grow professionally and emotionally. Make some room for that!
            </h5><br>
            <h5 style="text-align:center">
                <strong>Be sure to reward yourself, take care of yourself for all the hard work you are doing. This website contains some things that I found helpful.</strong>
                <h5>
                    <br>Understanding that the more you learn, the more there is to know in tech WHILE every bit (or kilobyte) makes you richer as a professional has definitely been one of the core realizations. Best of luck to you, new TrueCoder! Sky is the limit and You can do great things with the new knowledge you are gaining daily.
                </h5>
        </div>
    </div>

    <div class="humor">
        <div class="console-container">
            <span id="text"></span><div class="console-underscore" id="console">&#95;</div>


            <h4>
                I have a good joke about programming, but it only works on my machine.
            </h4>

            <h5 class="card-title"><a target="_blank" href="https://programmerhumor.io/">Check out this webpage with Programming Jokes</a></h5>
            <h5>
                Shhhh! It is not procrastimating! It is giving your brain much needed rest.
            </h5>
        </div>
    </div>


    <table class="table text-center vidtable">
        <tr>
            <th><button class="btn-hover color-7"><a target="_blank" href="https://www.youtube-nocookie.com/embed/_4kHxtiuML0">Play FOCUS video in a separate window</a></button></th>
            <th><button class="btn-hover color-6"><a target="_blank" href="https://www.youtube-nocookie.com/embed/5BcMmy_YR6M">Play ENERGY FLOW video in a separate window</a></button></th>
        </tr>

        <td>
            <iframe width="400" height="235" src="https://www.youtube-nocookie.com/embed/_4kHxtiuML0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </td>
        <td>
            <iframe width="400" height="235" src="https://www.youtube-nocookie.com/embed/5BcMmy_YR6M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>
            <br>
            <br>
        </td>
    </table>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
    }
</script>