@model string

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Today will be another great day of solving probelms, learning new technologies and tricks, coding and not stressing over any of it.</h1>
    <p>
        <br></br>
       
        </p>
       <p>
           @Model
       </p>
        
</div>

