@model string

@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="site.css">
}


<style>
    /*    .multicolortext {
                                            background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
                                            -webkit-background-clip: text;
                                            -moz-background-clip: text;
                                            background-clip: text;
                                            color: transparent;
                                        }*/

    .header {
        text-align: center;
        font-size: 56px;
        line-height: 80px;
        margin-bottom: 24px;
        padding: 2px 60px;
        font-family: Arial Black, sans-serif;
        color: navy;
    }

    body {
        background: #111;
    }

    .hidden {
        opacity: 0;
    }

    .console-container {
        font-family: Khula;
        font-size: 2em;
        text-align: center;
        height: 200px;
        width: 400px;
        display: block;
        position: relative;
        color: white;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .console-underscore {
        display: inline-block;
        position: relative;
        top: 10px;
        left: 10px;
    }

    body {
        background: url("images/moon-1807743.jpg") no-repeat center center fixed; 
        background-color: white;
    }

</style>

<body>

    <div class="header">
        Today will be another great day of solving probelms, learning new technologies, coding. AND <strong>not stressing</strong> over any of it.
    </div>


    <div class="text-center">
        <h3 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">@Model</h3>

        <h4 style="margin-block: 10px">
            <a class="btn-hover color-8" asp-area="" asp-controller="ProgrammingQuotes" asp-action="GetQuote">Get New Quote</a>
        </h4>
    </div>



    <div class="card">
        <div class=card-body>
            <div class="console-container">
                <span id="text"></span><div class="console-underscore" id="console">&#95;</div>
                <h5 class="card-title"><a target="_blank" href="https://programmerhumor.io/">Check out this webpage with Programming Jokes</a></h5>

            </div>
        </div>
    </div>



    <table class="table text-center">
        <tr>
            <th><button class="btn-hover color-4"><a target="_blank" href="https://www.youtube-nocookie.com/embed/_4kHxtiuML0">Play FOCUS video in a separate window</a></button></th>
            <th><button class="btn-hover color-6"><a target="_blank" href="https://www.youtube-nocookie.com/embed/5BcMmy_YR6M">Play ENERGY FLOW video in a separate window</a></button></th>
        </tr>

        <td>
            <iframe width="400" height="235" src="https://www.youtube-nocookie.com/embed/_4kHxtiuML0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        </td>
        <td>
            <iframe width="400" height="235" src="https://www.youtube-nocookie.com/embed/5BcMmy_YR6M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>
            <br>
            <br>
        </td>
    </table>
</body>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



@*        <table class="table">
    <tr>
    <th><button class="btn-hover color-5"><a target="_blank" href="https://www.youtube-nocookie.com/embed/zJNMNENMES4">POSITIVE VIBRATIONS - separate window</a></button></th>
    <th><button class="btn-hover color-3"><a target="_blank" href="https://www.youtube-nocookie.com/embed/3q8thydY9bI">BRAIN ACTIVITY - separate window</a></button></th>

    </tr>
    <td>
    <iframe width="400" height="235" src="https://www.youtube-nocookie.com/embed/zJNMNENMES4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <br>
    </td>

    <td><iframe width="400" height="235" src="https://www.youtube-nocookie.com/embed/3q8thydY9bI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>

    </tr>
    </table>*@


@*<table class="table">
    <h3>Helpful Tutorials</h3>

    <tr>
    <th>ASP .NET - Styling </th>
    <th>APIs and Postman</th>

    </tr>
    </table>
    <table class="table">
    <td><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/9lJF47kFRcU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>


    <td><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/VywxIQ2ZXw4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>

    </table>*@