@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h4 style="padding-top: 50px">
    This website runs on a local host and does not collect any information from users. Simply because it is lonely and no one comes by.
</h4>

<img src=~/images/stayHome.jpg />


