@*@model IEnumerable<Affirmations>

@{
    ViewBag.Title = "Affirmations List";

}


@*div class="affirmstable">
    <table id="myTable">
        <tr>
            <th class="tbheader">ID</th>
            <th class="tbheader">An Affirmation</th>
            <th class="tbheader">Category</th>
        </tr>

        @foreach (var affirmation in Model)
        {
            <tr>
                <td><a class="tbbtn" href=/Affirmation/ViewAffirmation/@affirmation.ID>@affirmation.ID</a></td>
                <td class="affirm">@affirmation.AffirmationText</td>
                <td style="text-align:right">@affirmation.Category</td>
            </tr>

        }
    </table>
</div>*@