@model IEnumerable<Affirmations>

@{
    ViewBag.Title = "Affirmations List";

}

<style>
    .tbbtn {
        border-radius: 4px;
        user-select: none;
        cursor: grabbing;
        outline: none;
        background: lightblue;
        text-align: center;
        text-decoration: none;
        color: navy;
        display: inline-block;
        padding: 5px 12px;
        margin: 1px 1px;
        font-size: 15px;
        border: 1px;
        box-shadow: 1px 5px 5px #1a1a1a;
        transition: 0.25s;
    }

    .tbbtn {
        width: 50px;
    }

    .affindexheader {
        border-radius: 4px;
        margin: 3px;
        padding-block: 40px;
        text-align: center;
        border-block-end-style: hidden;
        border-radius: 50px;
        color: navy;
        background-image: url(/images/affirmsbackground.jpg);
    }


    body {
        background-image: url(/images/04.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .createbtn {
        height: 100px;
        position: relative;
        /*        border: 1px;
            box-shadow: 1px 5px 5px #1a1a1a;
            transition: 0.25s;*/
    }

    .hrcenter {
        padding-top: 25px;
        position: absolute;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .tbheader {
        text-align: center;
    }


    #myTable tr.header, #myTable tr:hover {
        background-color: #f1f1f1;
        position: center;
    }

    .affirmstable {
        padding: 40px;
    }

    .label {
        margin-bottom: 25px;
        padding: 15px;
        font-size: 20px;
        display: block;
    }

    .affirm, #td, #td {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 19px;
        text-indent: 10px;
        border: 0.5px groove white;
    }

</style>


<header>
    <h2 class="affindexheader">Affirmations</h2>

</header>

<div class="hrcenter">
    <a class="createbtn btn-hover color-1" href="/Affirmation/InsertAffirmation/">Create a New Affirmation</a>
</div>
<br>
<br />


<div class="affirmstable">
    <table id="myTable">
        <tr>
            <th class="tbheader">ID</th>
            <th class="tbheader">An Affirmation</th>
            <th class="tbheader">Category</th>
        </tr>

        @foreach (var affirmation in Model)
        {
            <tr>
                <td><a class="tbbtn" href=/Affirmation/ViewAffirmation/@affirmation.ID>@affirmation.ID</a></td>
                <td class="affirm">@affirmation.AffirmationText</td>
                <td style="text-align:right">@affirmation.Category</td>
            </tr>

        }
    </table>

</div>

