@model IEnumerable<Affirmation>

<h2 style="background-image: url('~/images/01.jpg');">Affirmations</h2>
<br>
<br>
<div style="display: block">
    <a href="/Affirmation/InsertAffirmation/">Create a New Affirmation</a>
</div>
<br>
<br>
<div>
<table>
    <tr>
        <th>ID</th>
        <th>An Affirmation</th>
        <th>Category</th>
    </tr>
 
    @foreach (var affirmation in Model)
    {
        <tr>
            <td><a class="btn-hover color-7" href=/Affirmation/ViewAffirmation/@affirmation.ID>@affirmation.ID</a></td>
            <td>@affirmation.AffirmationText</td>
            <td>@affirmation.Category</td>
        </tr>
   
    }
</table>
     </div>

