@model Affirmations


<style>

    .createheader {
        color: lightcyan;
        font-feature-settings: "swsh";
        padding-top: 50px;
    }


    .crbody {
        background: url("/images/06.JPG");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .label {
        color: ghostwhite;
        padding-top: 50px;
        font-family: 'Arial Rounded MT';
        font-weight: 500;
    }

</style>

<body class="crbody">
    <div>
        <h2 class="createheader">Create a New Affirmation</h2>

        @using (Html.BeginForm("InsertAffirmationToDatabase", "Affirmation", "Post"))
        {
            <input asp-for="ID" type="hidden" value="@Model.ID" />

            <input asp-for="AffirmationText" type="text" name="AffirmationText" class="form-control" value="" placeholder="Add an inspiring or reassuring text" />

            <div class="form-group">
                <label class="label">Select a Category</label>
                <select class="form-control" name="Category" value="">
                    @foreach (var cat in Model.Categories)
                    {
                        <option value="@cat.CategoryName">@cat.CategoryName</option>
                    }
                </select>
            </div>

            <input class="btn-hover color-5" type="submit" value="Add Your Afirmation" />
        }
    </div>
</body>
