@model Affirmations

<style>

    .createheader {
        color: floralwhite;
        font-feature-settings: "swsh";
        padding-top: 50px;
    }


    .crbody {
        background-image: url("/images/moon-1807743.jpg");
        background-repeat: no-repeat;
    }

    .label {
        color: white;
        padding-top: 50px;
        font-family: 'Arial Rounded MT';
        font-weight: 500;
    }

</style>

<body class="crbody">
    <div class="hrcenter">
        <h2 class="createheader">Create a New Affirmation</h2>

        @using (Html.BeginForm("InsertAffirmationToDatabase", "Affirmation", "Post"))
        {
            <input asp-for="ID" type="hidden" value="@Model.ID" />

            <input asp-for="AffirmationText" type="text" name="AffirmationText" class="form-control" value="" placeholder="Add an inspiring or reassuring text" />

            <div class="form-group">
                <label class="label">Select a Category</label>
                <select class="form-control" name="Category" value="">
                    @foreach (var cat in Model.Categories)
                    {
                        <option value="@cat.CategoryName">@cat.CategoryName</option>
                    }
                </select>
            </div>
            <input class="btn-hover color-9" type="submit" value="Create New Afirmation" />
        }
    </div>
</body>
