@model Affirmation

<style>
    body {
        background-color: white;
        font: black;
    }
</style>

<h3>@Model.AffirmationText</h3>

<table class="table">
    <tr>
        <th> </th>
    </tr>
</table>

<div style="display: block">
    <a href="/Affirmation/UpdateAffirmationTxt/@Model.ID">Update this Affirmation Text</a>
</div>

<div style="display: block">
    @using (Html.BeginForm("DeleteAffirmation", "Affirmation", "Post"))
    {
        <input type="hidden" asp-for="ID" value="@Model.ID" />
        <input type="submit" onclick="return confirm('Are you sure? We won't be able to restore it.')" value="Delete Affirmation" />
    }
</div>


