@model Affirmation

<style>
    body {
        background-color: white;
        font: black;
    }
</style>

<h3>@Model.AffirmationText</h3>

<table class="table">
    <tr>
        <th> </th>
    </tr>
    <tr>
        <td>@Model.Author</td>
    </tr>
</table>
