@model Affirmations

@{
    ViewBag.Title = "Update Affirmation";
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
}

<style>
    .affText {
        color: white;
        padding-block: 100px;
    }

    body {
        font-family: "Arial Rounded MT";
        text-align: center;
        background: url("/images/unsplash.jpg") no-repeat center center fixed;
        /*Stoic Script, Proxima Nova, Atrament, Adobe Garamond, PT Sans, Century School, Republic;*/
    }

</style>

<body>

    <div class="affText">
        <h3>@Model.AffirmationText</h3>
    </div>

    <div style="display: block">
        <a href="/Affirmation/UpdateAffirmationTxt/@Model.ID" class="updateAff">Update this Affirmation Text</a>
    </div>
    <br>
    <br>

    <br>
    <div style="display: block ">
        @using (Html.BeginForm("DeleteAffirmation", "Affirmation", "Post"))
        {
            <input type="hidden" asp-for="ID" value="@Model.ID" />
            <input type="submit" onclick="return confirm('Are you sure?')" value="Delete Affirmation" class="btn-hover color-1" />
        }
    </div>

</body>



